[submodule "S1 - [Algo] Théorie des Graphes"]
	path = S1 - [Algo] Théorie des Graphes
	url = https://github.com/ing2-paris-classroom-2023-2024/optimisation-d-une-ligne-d-assemblage-ing2-tg-2023-2024-5-6.git
[submodule "S1 - [Electro] Ascenseur FPGA"]
	path = S1 - [Electro] Ascenseur FPGA
	url = https://github.com/PingoLeon/ING2S1-FPGA.git
[submodule "S2 - [Electro] Gyrobot"]
	path = S2 - [Electro] Gyrobot
	url = https://github.com/PingoLeon/ING2S2-Gyrobot.git

